body{
    background-color: darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #007bff;
    color: white;
    padding: 20px;
}
footer{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
main{
    padding: 20px;
}
    
section{
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
}
article{
    background-color: darkslategray;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
}

.nav-list {
    
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-list li{
    margin: 0 15px;
    
}