*{
    box-sizing: border-box;
}


body{
    background-color: darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.main-header{
    display: flex;
    justify-content: space-between;
    color: rgb(10, 10, 10);
    align-items: center;
    padding: 15px ;
    background-color: aliceblue;
    margin: 20px;
    
   
}
.nav-list {
    
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: color 0.3s ease;
    
}
.nav-list li{
    margin: 0 15px;
    align-items: first baseline;
    
}
.nav-list::after{
    content: "";
    display: table;
    clear: both;
}

.main-title{

    font-size: 1.4em;
    color: rgb(28, 28, 247);
    font-weight: 500;
    
    margin-top: 5px;
    margin-bottom: 20px;

}
.main-intro-title{
    font-size: 1.1em;
    font-weight: 500;
    color: #0a72e9;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
.main-photo{
    margin-bottom: 20px;
    padding: 10px;
    align-items: flex-start;
    

}
.heading{
    @supports (corner-shape: squircle)
    flex-direction: column-reverse;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
     
    border-radius: 60px;
    corner-shape: squircle;
    
}
footer{
    background-color: #464646;
    color: white;
    padding: 5px;
    margin: 5px;
    align-items: center;
    text-align: center;
}
main{
    padding: 10px;
    
}

    

article{
   
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    color: rgb(14, 13, 13);
    width: 600;
    height: 300;
    gap: 20px;
}
.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: beige;
}
.feedback-widget{
    position: fixed;
    bottom: 30px;
    top: 30px;
    width: 250px;
    padding: 15px;
    border: 1px solid#ddd;
    background-color: azure;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.feedback-widget textarea{
    resize: none;
    padding: 8px;
    height: 200px;
}
.chat-container{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1px solid#ccc;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}
.massage-area{
    flex-grow: 1;;
    padding: 10px;
    overflow: scroll;
}
.form-example{
    display: inline-block;
    font-size: 1.3em;
    align-items: center;
    

}
@media (max-width:780px) {
    .projects-grid {
        grid-template-columns: 1fr;

    }
    .main-header{
        flex-direction: column;
        justify-content:space-between;
    }
    .main-nav ul{
        flex-direction: column;
        text-align: center;

    }
    .main-title{
        margin-bottom: 10px;

    }
}

