*{
    box-sizing: border-box;
}


body{
    background-color: darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    color: rgb(10, 10, 10);
    align-items: center;
   
}
.nav-list {
    
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.nav-list li{
    margin: 0 15px;
    
}
.nav-list::after{
    content: "";
    display: table;
    clear: both;
}
footer{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
main{
    padding: 20px;
}
    
section{
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
}
article{
   
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    color: rgb(14, 13, 13);
}

